<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you!</title>
    <link rel="stylesheet" href="./thankyou.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Saira+Extra+Condensed:wght@400;600;700&display=swap"
        rel="stylesheet">

    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Thank You!</h1>
            <p>We appreciate your interest. We got your message. We'll get back to you as soon as possible.</p>
            <a class="back-button" href="../#home">Back to home<i class='bx bxs-left-arrow-circle'></i></a>
        </div>
        <p class="powered"><span class="power">Powered by: </span><span><a href="https://formspark.io/">Formspark</a></span></p>
    </div>
    
    <script src="thankyou.js"></script>
</body>
</html>