// WEB NAVBAR
.nav-menu-web {
  padding: 0;
  margin: 0;

  * {
    list-style: none;
  }

  ul {
    padding-left: 1em;
    .nav-item {
      position: relative;
      white-space: nowrap;
    }
  }

  .nav-links,
  .nav-links:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: $font-small;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    text-decoration: none;
    border: 1px solid $primary-color;

    i {
      font-size: $font-medium;
      color: $grey-text-color;
    }

    span {
      padding: 0 5px 0 7px;
      color: $secondary-color;
      display: none;
    }
  }

  .nav-links:hover,
  .active,
  .active:focus,
  .nav-item:hover > a {
    color: #f2f3f5;
    background: $primary-color;

    i {
      color: #f2f3f5;
    }

    span {
      color: #f2f3f5;
    }
  }

  .nav-links:hover,
  .nav-item:hover > a {
    width: 100%;
    color: #f2f3f5;
  }

  .nav-links:hover,
  .nav-item:hover > .nav-links {
    span {
      display: block;
    }
  }
}

@media (min-width: 992px) {
  .nav-menu .nav-links,
  .nav-menu .nav-links:focus {
    width: 56px;
  }

  .nav-menu .nav-links span,
  .nav-menu .nav-links:focus span {
    display: none;
    color: #f2f3f5;
  }
}

// MOBILE NAVBAR
.nav-menu-mobile {
  .offcanvas-button-menu {
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 1em;
    margin-top: 1em;
    background-color: #f2f3f5;
    color: #45505b;

    i {
      font-size: $font-large;
    }

    &:hover {
      background-color: $primary-color;
      color: #f2f3f5;

      i {
        color: #fff;
      }
    }
  }

  .nav-link,
  .nav-link:focus {
    gap: 1em;
    background-color: #fff;
    padding: 10px 18px;
    transition: 0.3s;

    i {
      font-size: $font-medium;
    }
  }

  .nav-link:hover,
  .nav-item:hover > a {
    color: #f2f3f5;
    background-color: $primary-color;
    border: 1px solid #f2f3f5;
  }

  .navbar-toggler {
    border: 1px solid $secondary-color;
    transition: 0.3s;

    i {
      color: $secondary-color;
    }

    &:hover {
      background-color: $primary-color;

      i {
        color: #f2f3f5;
      }
    }
  }
}
