// COLORS
$primary-color: #e6b31e;
$secondary-color: #9c9c9c;
$accent-color: #fcfaf1;
$background-color: #121212;
$grey-color: #f2f3f5;
$grey-text-color: #45505b;
$card-background: #343434;
$footer-background: #2a2a2a;

// FONTS
$saira-font: "Saira Extra Condensed", sans-serif;
$poppins-font: "Poppins", sans-serif;

// FONTS SIZES
$font-small: 16px;
$font-medium: 20px;
$font-large: 24px;

// BORDERS
$border-button: 2px solid $primary-color;

// ICON COLORS
$icon-html-color: #e34c26;
$icon-css-color: #264de4;
$icon-sass-color: #be4080;
$icon-bootstrap-color: #563e7c;
$icon-js-color: #ffd600;
$icon-react-color: #62dafc;
$icon-tailwind-color: #38bdf8;
$icon-node-color: #5dad47;
$icon-mongo-color: #4db33d;
$icon-postgre-color: #008bb9;
